* {
  padding: 0;
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.text-center{
	text-align: center;
}

.img-responsive{
	display: block;
    max-width: 100%;
    height: auto;
}

.p_lr_init{
	padding-right: 0 !important;
	padding-left: 0 !important;
}



/*Top Header CSS*/

.top_header_block{
	background-color: #000;
	
}
.top_header{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 34px; 
}
.top_header p{
	padding-bottom: 2px;
	color: #fff;
	letter-spacing: 3px;
	word-spacing: 4px;
	margin: 0;
	font-weight: bold;
}

/*Top Header CSS*/



/*Header*/
.main_header,
.category_header{
	padding: 8px 0 16px;
}

.top_nav ul,
.category_header ul{
	margin-bottom: 0;
}
.top_nav ul li{
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}

.top_nav ul li a:hover,
.category_header ul li a:hover{
	text-decoration: none;
}

.top_nav ul li a,
.category_header ul li a{
	display: inline-block;
	color: #000;
	font-weight: 500;
}

.main_header img.brand_logo{
	margin-top: 8px;
}

.shipping_country img{
	display: inline-block !important;
	padding: 0 6px;
}

.nav_title{

}

.nav_icon.down_caret{

}

.nav_icon.down_caret i.fa.fa-caret-down{
	padding-left: 4px;
}

.top_nav ul li:before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 11px;
    background: #c2c2c2;
    margin-right: 10px;
}

.top_nav ul li.shipping_country:before{
	display: none;
}


/*category Header*/

.category_header{
	width: 100%;
	border-bottom: 1px solid #999999;
	margin-bottom: 16px;
}

.category_header ul li{
	display: inline-block;
	vertical-align: middle;
	margin: 0 20px;
}



/*Main Banner Block*/

.main_banner_block{
	position: relative;
	margin: 0 auto;
}

.main_banner_block,
.main_banner_block img,
.main_banner_block span,
.main_banner_block iframe{
	width: 100%;
}

.main_banner_block iframe{
	height: 437px;
}


.main_banner_block img{
	position: absolute;
	top: 0;
	left: 0;
}


/*Breadcrumb*/
.breadcrumb_block,
.current_category_block{
	padding-left: 0 !important;
	padding-right: 0 !important;
	margin: 16px auto;
}

.breadcrumb_block .breadcrumb{
	background-color: transparent;
    margin-bottom: 0;
    padding: 0;
}

.breadcrumb a{
	color: #000000;
	font-weight: 500;
	font-size: 14px;
}

.breadcrumb span{
	font-size: 14px;
}


.current_category_block p{
	margin-bottom: 0;
	margin-top: -6px;
	font-size: 20px;
	font-weight: 500;
	padding-right: 30px;
	text-align: right;
}


/*Left Navigation*/

.left_navigation_wrap{
	/*margin-bottom: 40px;*/
    margin-top: 20px;
}

.left_navigation_wrap .categories{
	margin-bottom: 40px;
}

.left_navigation_wrap dt{
	margin-bottom: 6px;
	font-weight: 500;
	font-size: 15px;
}

.left_navigation_wrap dd{
	padding-left: 16px;
    margin-bottom: 6px;
    font-size: 15px;
}

.left_navigation_wrap dd a:hover{
	text-decoration: none;
}

.left_navigation_wrap dd a{
	color: #000;
}

/*Product Listing Page*/

.indv_prod_card{
	display: inline-block;
	margin-bottom: 16px;
}

.product_listing_block{
	margin-bottom: 16px;
	margin-top: 16px;
}

.product_listing_block a {
    color: #000;
    
    display: block;
    position: relative;
}

.product_listing_block a:hover{
	text-decoration: none;
	color: #000;
}

.product_listing_block figure {
    margin-bottom: 5px;
    position: relative;
}

.product_listing_block figure img {
	display: block;
    width: 100%;
}
.product_listing_block p.non_disc_price{
	margin-bottom: 2px;
    margin-top: 6px;
	font-weight: 500;
    text-transform: capitalize;
    text-align: center;
    display: block;
}
.product_listing_block p{
	margin-bottom: 4px;
	font-size: 11px;
	text-align: center;
}

.online_exclusive{
	color: #c44f4f;
	text-transform: uppercase;
}

.actual_and_disc_price span{
	display: inline-block;
	margin-right: 2px;
	color: #c44f4f;
	font-size: 11px;
}

.actual_and_disc_price del{
	display: inline-block;
	margin-left: 2px;
	font-weight: 400;
}

.product_rating_blk .rating{
	margin: 0 1px;
}

.colors_blk{
	text-align: center;
}

.colors_blk .indv_color{
	width: 46px;
    height: 12px;
    display: inline-block;
    margin-right: 10px;
    border: 1px solid #adadad;
}

.colors_blk .indv_color:last-child{
	margin-right: 0;
}

.product_listing_block .shop_now {
    font-weight: 400;
    font-style: normal;
    color: #000;
    font-size: 14px;
    letter-spacing: .1em;
    text-transform: uppercase;
    display: block;
    position: absolute;
    width: 100%;
    top: 340px;
    margin: -35px 0 10px;
    background: rgba(255,255,255,.8);
    opacity: 0;
    text-align: center;
    height: 35px;
    padding: 9px 10px 0 2px;
    -moz-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;
}

.product_listing_block .shop_now.focus, 
.product_listing_block .shop_now:hover{
	opacity: 1;
}

.indv_color.brown{
	background-color: rgb(75, 16, 22);
}

.indv_color.cheery{
	background-color: rgb(253, 117, 137);
}